html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    --color: rgb(20, 20, 20);
}

body {
    --navbar-height: 104px;
    position:relative;
}

.nounderline:hover {
    text-decoration: none;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index:-1;
    background-color:var(--color);
  }