.login-wrapper {
    display:flex;
    justify-content:center;
    margin: 11rem 0rem;
}

.login-form {
    box-shadow: 0.3px 0.3px 4px 1px; 
    padding:60px;
    width:30rem;
    background-color:var(--color);
    color:white;
}

.login-form a {
    color:white;
}