.register-wrapper {
    display:flex;
    justify-content:center;
    margin-top:30px;
}

.register-form {
    box-shadow: 0.3px 0.3px 8px 1px; 
    background-color:rgb(20, 20, 20);
    padding:32px;
    color:white;
}

.register-form a {
    color:white;
}

.register-form a {
    color:white;
}

@media screen and (max-width: 600px) {
    .register-wrapper {
        padding: 0rem;
        display:block;
    }

    .register-form {
        padding:1rem;
    }

}