.money-wrapper {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    flex:1;
    color:white;
}

.money-wrapper h1 {
    font-size: 65px;
}

.money-wrapper h2 {
    font-size:60px;
}

.currency {
    font-size:40px;
}

@media screen and (max-width: 500px){
    .money-wrapper h1 {
        font-size: 50px;
    }

    .money-wrapper h2 {
        font-size:40px;
    }
    
    .currency {
        font-size:15px;
    }


}